@import url('https://fonts.googleapis.com/css2?family=Lora&family=Zilla+Slab&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/cards.css");

body {
	width:100%;
	font-family: "Lora", serif;
	font-size: 20px;
	background-color: rgb(240,240,240);
	margin: 0;
}
h1, h2, h3 {
	font-family: "Zilla Slab", serif;
}
h2 {
	padding-top: 20px;
}
a {
	text-decoration: none;
}
p {
	padding-top: 30px;
}